<% if category.errors.any? %>
  <ul id="error_explanation">
    <% category.errors.full_messages.each do |message| %>
      <li><%= %></li>
    <% end %>
  </ul>
<% end %>

<%= form_with model: category, url: url, local: true do |f| %>
  <div class="card-body">
    <div class="form-group">
      <%= f.label :name, "カテゴリー名" %>
      <%= f.text_field :name, class: "form-control" %>
    </div>
    <div class="card-footer">
      <%= f.submit "作成", class: "btn btn-primary" %>
    </div>
  </div>
<% end %>
